<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
  <section style="background:#fff; width: 600px; margin:0 auto;">  
      <div style="padding:20px; text-align:center;">
    <img src='http://wohlig.co.in/jacknows/img/mail.png' width="384" height="144">
      </div>
      <div style="padding:20px;">
        <p style="font-family: Lato;color:#474d4f;font-size: 20px;font-weight: 400;line-height: 15px; margin:10px 0px;">Dear Admin,</p>
        <br/>
        <div style="color:#969696;font-size: 16px; margin:0 0 10px 0;">
          Please check the following details : 
        <br/><br/>
          Name: <%= name%>
        <br/><br/>
          Email: <%= email%>
        <br/><br/>
          Mobile: <%= mobile%>
        <br/><br/>
          Message: <%= message%>
        <br/><br/>
        Regards,<br/>
        Administrator
       </div>
      </div>
  </section>
</body>

</html>
